.notification {
    color: green;
    background: lightgreen;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    animation-duration: 2s;
    visibility: visible;
}

.error {
    color: red;
    background: lightsalmon;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    animation-duration: 2s;
    visibility: visible;
}
